@font-face {
  font-family: 'NautilusPompilius';
  src: url('NautilusPompilius.eot');
  src: url('NautilusPompilius.woff2') format('woff2'),
       url('NautilusPompilius.woff') format('woff'),
       url('NautilusPompilius.ttf') format('truetype'),
       url('NautilusPompilius.svg#NautilusPompilius') format('svg'),
       url('NautilusPompilius.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

